# Create a new settings_dev.py file and configure settings below for you. Don't delete this file!!!
# If you want to use postgresql, just delete DATABASES variable.

import os

from .settings import BASE_DIR


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3')
    }
}

DEBUG = True
TESTING = True
